:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue:#3291d5;

  /* Font sizes */
  --font:Arial, Helvetica, sans-serif;
  --small:0.8rem;
  --normal:1rem;
  --medium:1.4rem;
  --large:2rem;
  --elarge:3rem;
  --eelarge:5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin:0;
  padding:0;
  border:0;
  font-size:var(--normal);
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  padding:30px;
  margin:auto;
  max-width:800px;
}

.loader{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
}

::placeholder{
  color:#505050;
}

/* Landing */
.landing{
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  gap:20px;
  padding-block:50px;
}

.landing-title{
  font-size:var(--large);
  font-weight:600;
}

.landing input{
  border:none;
  height:50px;
  width:400px;
  border-radius:10px;
  padding-block:5px;
  padding-left:40px;
  font-family:var(--font);
  font-size:var(--normal);
  outline:none;
  background-image:url(../public/search.svg);
  background-size:cover;
  background-position: 15px center;
  background-size:15px;
  background-repeat:no-repeat;
}

.landing input:focus{
  outline:solid 2px var(--blue);
  outline-offset: 2px;
}

.search-item{
 display:flex;
 gap:10px;
 align-items: center;
 justify-content: flex-start;
 padding:5px;
 cursor:pointer;
}

.search-item:hover{
  background-color:#252525;
}

.search-results{
  display:grid;
  width:400px;
}


a {
  color: inherit;
  text-decoration: none;
}

.section{
  display:grid;
  grid-template-columns: 1fr;
  gap:30px;
}

.section1{
  display:flex;
  flex-flow:row wrap;
  gap:20px;
  justify-content: center;
}

.section2{
  display:grid;
  gap:20px;
  align-content: start;
}

.section2 table{
  border:none;
  border-collapse: collapse;
  width:100%;
}

.section2 tr{
  border-bottom: solid 1px #303030;
}

.section2 td{
  padding-block:10px;
  padding-right:10px;
}

.highlight-title{
  font-size: var(--medium);
  color:#808080;
}

.highlight-val{
  display:flex;
  gap:0px;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
}

.highlight-info{
  display:flex;
  align-items: center;
  gap:30px;
  margin-top:-50px;
}

.highlight-val span{
  font-size:8rem;
  font-weight:700;
}

.highlight-desc{
  font-size:var(--medium);
  font-weight:100;
  display:grid;
  gap:10px;
}

.section-title{
  font-size:var(--normal);
  font-weight:100;
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  gap:10px;
  padding-bottom:10px;
  border-bottom: solid 1px #202020;
  opacity:0.6;
}

.section-title-small{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:600;
  padding-block:10px;
}

.section-ttile-small img{
  -webkit-filter:invert(1);
}

/* Page */
.page-title{
  font-size:var(--large);
  font-weight:600;
}

/* Login */
.login-wrapper{
  position:relative;
  padding:20px;
  border-radius: 10px;
  border:solid 1px #303030;
  display:grid;
  max-width:300px;
  margin:auto;
  gap:20px;
}

.input-wrapper{
  display:grid;
}

.input-wrapper input{
  height:30px;
  padding-inline:20px;
  background-color:transparent;
  border:none;
  border-bottom:solid 1px #303030;
  outline:none;
}

.input-wrapper input:focus{
  border-bottom:solid 1px var(--blue);
}

/* Items */
.item{
  width:200px;
  background:linear-gradient(140deg,#252525,#101010);
  border-radius:20px;
  padding:20px;
  display:flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  border:solid 2px #202020;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item:hover{
  transform:translate(0px, 5px);
}

.item-title{
  color:#999999;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.item-val{
  font-size:var(--elarge);
  font-weight:600;
  display:flex;
  flex-flow:column nowrap;
  gap:0px;
  align-items: flex-end;
}

.item-val span{
  font-weight:100;
  font-size:var(--medium);
  color:#606060;

}

/* Forecast */
.forecast-wrapper{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  overflow: auto;
}

.forecast{
  border:solid 1px #303030;
  padding:20px;
  border-radius: 10px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}

.forecast-temp{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%
}

.forecast-img{
  width:40px;
  height:40px;
}

.forecast-img-medium{
  width:80px;
  height:80px;
}

.forecast-img-large{
  width:300px;
  height:300px;
}

.h-align{
  display:flex;
  align-items: center;
  gap:5px;
}

.cloudy{
  background-image: url(../public/weather/fill/svg/cloudy.svg);
}

.overcast{
  background-image: url(../public/weather/fill/svg/overcast.svg);
}

.sun{
  background-image: url(../public/weather/fill/svg/sun-hot.svg);
}

.mist{
  background-image: url(../public/weather/fill/svg/mist.svg);
}

.fog{
  background-image: url(../public/weather/fill/svg/fog.svg);
}

.snow{
  background-image: url(../public/weather/fill/svg/snow.svg);
}

.heavy-snow{
  background-image: url(../public/weather/fill/svg/extreme-snow.svg);
}

.sleet{
  background-image: url(../public/weather/fill/svg/sleet.svg);
}

.heavy-sleet{
  background-image: url(../public/weather/fill/svg/extreme-sleet.svg);
}

.drizzle{
  background-image: url(../public/weather/fill/svg/drizzle.svg);
}

.heavy-drizzle{
  background-image: url(../public/weather/fill/svg/extreme-drizzle.svg);
}

.light-rain{
  background-image: url(../public/weather/fill/svg/raindrops.svg);
}

.rain{
  background-image: url(../public/weather/fill/svg/rain.svg);
}

.heavy-rain{
  background-image: url(../public/weather/fill/svg/extreme-rain.svg);
}

.partly-cloudy{
  background-image: url(../public/weather/fill/svg/cloudy.svg);
}

.thunderstorm{
  background-image: url(../public/weather/fill/svg/thunderstorms-rain.svg);
}

.thunderstorm-snow{
  background-image: url(../public/weather/fill/svg/thunderstorms-snow.svg);
}

.lightning{
  background-image: url(../public/weather/fill/svg/lightning-bolt.svg);
}

.hail{
  background-image: url(../public/weather/fill/svg/hail.svg);
}

.hourly-wrapper{
  display:flex;
  flex-flow:row nowrap;
  overflow: auto;
  gap:10px;
  padding-bottom:10px;
}

.hour{
  border:solid 1px #303030;
  padding:20px;
  border-radius: 10px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  gap:20px;
  white-space:nowrap
}

/* Favourites */
.spacer{
  height:40px;
}

.fav{
  padding-block:15px;
  padding-inline:5px;
  border-bottom:solid 1px #303030;
  display:flex;
  align-items: center;
  gap:10px;
  transition:all 0.2s ease-in-out;
  cursor:pointer;
}

.fav:nth-last-child(1){
  border:none;
}

/* Settings */

.setting{
  padding-block:15px;
  padding-inline:5px;
  border-bottom:solid 1px #303030;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  transition:all 0.2s ease-in-out;
  cursor:pointer;
}

.setting:nth-last-child(1){
  border:none;
}

.setting:hover{
  opacity:0.7;
}

.setting-section{
  display:flex;
  align-items: center;
  gap:10px;
}

/* Header */
header{
  padding:20px;
  z-index:5;
  position:sticky;
  top:0px;
  background-color:#000000;
}

nav{
  position:relative;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  gap:20px;
  align-items: center;
}

.nav-link{
  transition:all 0.2s ease-in-out;
}

.nav-link:hover{
  opacity:0.7;
}

.logo{
  font-weight:600
}

.links{
  display:flex;
  gap:40px;
  align-items: center;
}

/* Footer*/
footer{
  padding:30px;
  color:#505050;
  font-size:var(--small);
  text-align:center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width:700px){
  .main{
    padding:20px;
  }

  .section{
    display:grid;
    grid-template-columns: 1fr;
  }

  .forecast-img-large{
  width:200px;
  height:200px;
}
  .section1{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .forecast-img-large{
    width:250px;
    height:250px;
  }

  .item{
    width:inherit;
  }
  
  

  .item-val{
    font-size:var(--elarge)
  }
}

/* Buttons */

.button-small{
  border:solid 2px var(--blue);
  border-radius:5px;
  background-color: transparent;
  outline:none;
  cursor:pointer;
  padding-inline:15px;
  padding-block:5px;
  color:var(--blue);
  font-family: var(--font);
  font-size:var(--normal);
  font-weight:600;
  transition:all 0.2s ease-in-out;
}

.button-small:hover{
  background-color:#ffffff;
  border:solid 2px #fff;
  color:#000000;
}

.button-large{
  border:solid 2px var(--blue);
  border-radius:5px;
  background-color: transparent;
  outline:none;
  cursor:pointer;
  padding-inline:15px;
  padding-block:10px;
  color:var(--blue);
  font-family: var(--font);
  font-weight:600;
  font-size:var(--medium);
  transition:all 0.2s ease-in-out;
}

.button-large:hover{
  background-color:#ffffff;
  border:solid 2px #fff;
  color:#000000;
}
